In [9]:
import pandas as pd

In [10]:
data_df = pd.read_csv("alcohol consumption.csv")
data_df.head()

,Year,Locationabbr,Locationdesc,Class,Topic,Question,Response,Break_Out,Break_Out_Category,Sample_Size,...,Data_Value_Footnote,DataSource,ClassId,TopicId,LocationID,BreakoutID,BreakOutCategoryID,QuestionID,ResponseID,GeoLocation
0,2014,AL,Alabama,Alcohol Consumption,Alcohol Consumption,Adults who have had at least one drink of alco...,Yes,Overall,Overall,"2,887",...,NaN,BRFSS,CLASS01,Topic03,1,BO1,CAT1,DRNKANY5,RESP046,"(32.84057112200048, -86.63186076199969)"
1,2014,AK,Alaska,Alcohol Consumption,Alcohol Consumption,Adults who have had at least one drink of alco...,Yes,Overall,Overall,"2,385",...,NaN,BRFSS,CLASS01,Topic03,2,BO1,CAT1,DRNKANY5,RESP046,"(64.84507995700051, -147.72205903599973)"
2,2014,AZ,Arizona,Alcohol Consumption,Alcohol Consumption,Adults who have had at least one drink of alco...,Yes,Overall,Overall,"7,093",...,NaN,BRFSS,CLASS01,Topic03,4,BO1,CAT1,DRNKANY5,RESP046,"(34.865970280000454, -111.76381127699972)"
3,2014,AR,Arkansas,Alcohol Consumption,Alcohol Consumption,Adults who have had at least one drink of alco...,Yes,Overall,Overall,"1,645",...,NaN,BRFSS,CLASS01,Topic03,5,BO1,CAT1,DRNKANY5,RESP046,"(34.74865012400045, -92.27449074299966)"
4,2014,CA,California,Alcohol Consumption,Alcohol Consumption,Adults who have had at least one drink of alco...,Yes,Overall,Overall,"4,206",...,NaN,BRFSS,CLASS01,Topic03,6,BO1,CAT1,DRNKANY5,RESP046,"(37.63864012300047, -120.99999953799971)"

In [11]:
data2_df = pd.read_csv("current smoker status.csv")
data2_df.head()

,Year,Locationabbr,Locationdesc,Class,Topic,Question,Response,Break_Out,Break_Out_Category,Sample_Size,...,Data_Value_Footnote,DataSource,ClassId,TopicId,LocationID,BreakoutID,BreakOutCategoryID,QuestionID,ResponseID,GeoLocation
0,2014,AL,Alabama,Tobacco Use,Current Smoker Status,Adults who are current smokers (variable calcu...,Yes,Overall,Overall,"1,490",...,NaN,BRFSS,CLASS17,Topic15,1,BO1,CAT1,_RFSMOK3,RESP046,"(32.84057112200048, -86.63186076199969)"
1,2014,AK,Alaska,Tobacco Use,Current Smoker Status,Adults who are current smokers (variable calcu...,Yes,Overall,Overall,749,...,NaN,BRFSS,CLASS17,Topic15,2,BO1,CAT1,_RFSMOK3,RESP046,"(64.84507995700051, -147.72205903599973)"
2,2014,AZ,Arizona,Tobacco Use,Current Smoker Status,Adults who are current smokers (variable calcu...,Yes,Overall,Overall,"1,811",...,NaN,BRFSS,CLASS17,Topic15,4,BO1,CAT1,_RFSMOK3,RESP046,"(34.865970280000454, -111.76381127699972)"
3,2014,AR,Arkansas,Tobacco Use,Current Smoker Status,Adults who are current smokers (variable calcu...,Yes,Overall,Overall,917,...,NaN,BRFSS,CLASS17,Topic15,5,BO1,CAT1,_RFSMOK3,RESP046,"(34.74865012400045, -92.27449074299966)"
4,2014,CA,California,Tobacco Use,Current Smoker Status,Adults who are current smokers (variable calcu...,Yes,Overall,Overall,962,...,NaN,BRFSS,CLASS17,Topic15,6,BO1,CAT1,_RFSMOK3,RESP046,"(37.63864012300047, -120.99999953799971)"